<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/mainpage.css">
    <title>Home</title>
</head>
<body>
    <header>
       <div align="right" class="login">
           <a href="/login.html">로그인</a>
           <a href="/signin.html">회원가입</a>

           <!-- 사용자 추가 후 로그아웃, 정보수정 추가 -->
       </div>

       <div align="text-center" class="logo-state">
           <img src="../static/img/logo.jpg" class="logo">
           <div>
            <h1>BucketList</h1>
           </div>
       </div>
       
       <nav class="gnb-menu">
           <a href="/">홈</a>
           <a href="board_list.html">버킷리스트 둘러보기</a>
           <a href="newlist">버킷리스트 추가하기</a>
           <a href="my_bucket.html">나의 버킷리스트</a>
       </nav>
    </header>

    <!-- 각 페이지에서 구현 -->
    {% block content %}
    {% endblock %}

</body>
</html>