{% extends 'base.html' %}

{% block content %}
<!-- 메인 -->
<div class="board">
    <h3>이루어진 버킷리스트</h3>
    <p>다른사람들이 이루어낸 버킷리스트입니다:)</p>


    <div id="board_lst">
        

        <div class="card">
            <p>?님의 버킷리스트</p>
            <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title"><?=$buck.title?></h3>
                    <p class="card-text"><?=$buck.body?></p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">등록일: <?=$buck.created_at?></small><br>
                </div>
        </div>
    </div>
    
</div>
{% endblock %}