<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/mainpage.css">
    <title>Home</title>
</head>
<body>
    <header>
       <div align="right" class="login">
           <a href="./login.html">로그인</a>
           <a href="./signin.html">회원가입</a>

           <!-- 사용자 추가 후 로그아웃, 정보수정 추가 -->
       </div>

       <div align="text-center" class="logo-state">
           <img src="../static/img/logo.jpg" class="logo">
           <div>
            <h1>BucketList</h1>
           </div>
       </div>
       
       <nav class="gnb-menu">
           <a href="home.html">홈</a>
           <a href="board_list.html">버킷리스트 둘러보기</a>
           <a href="add_bucket.html">버킷리스트 추가하기</a>
           <a href="my_bucket.html">나의 버킷리스트</a>
       </nav>
    </header>


    <!-- 메인 -->
    <div class="board">
        <h3>이루어진 버킷리스트</h3>
        <p>다른사람들이 이루어낸 버킷리스트입니다:)</p>


        <div id="board_lst">
            {% for buck in buckets.all %}
                <h3> {{buck.title}} </h3>
                <p> {{buck.created_at}} </p>
                <p> {{buck.body}} </p>
                <br><br>
            {%endfor%}

            <div class="card">
                <p>?님의 버킷리스트</p>
                <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title"><?=$buck.title?></h3>
                        <p class="card-text"><?=$buck.body?></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">등록일: <?=$buck.created_at?></small><br>
                    </div>
            </div>
        </div>
        
    </div>

</body>
</html>